<% import ElixirDynamoCms.FilepathHelper %>

<ul>
  <%= Enum.map @article_list, fn(filepath) -> %>
    <li><a href="<%= filepath2urlpath(filepath) %>"><%= extract_title(filepath) %></a></li>
  <% end %>
</ul>
